a.preload {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

.top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #1F3044;
    width: 100%;
    color: #D9B45E;
}

header {
    width: 100%;    
}

header img {
    width: 80%;
    max-width: 300px;
    display: block;
    margin: auto;
    padding-top: 10px;
}

header h1 {
    padding: 10px 20px 10px 20px;
    color: #3C3F66;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    text-align: center;
}

nav li {
    display: inline;
    padding: 0 10px;
}

nav:hover {
    cursor: pointer;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #d9b45e;
}

nav a:hover {
    color: #d9b45ea4;
    border-bottom: 2px solid rgba(217, 180, 94, .8);
    animation: nav_animation 0.5s ease;
}

a {
    animation: nav_animation_reverse 0.5s ease;
}

@keyframes nav_animation {
    from {border-bottom: solid 2px rgba(217, 180, 94, 0);
    padding-bottom: 5px;
    }
    to {border-bottom: solid 2px rgba(217, 180, 94, .8);
    padding-bottom: 0px;
    }
}

@keyframes nav_animation_reverse {
    from {border-bottom: solid 2px rgba(217, 180, 94, .8);
    padding-bottom: 0px;
    }
    to {border-bottom: solid 2px rgba(217, 180, 94, 0);
    padding-bottom: 5px;
    }
}

@media (min-width: 540px) {

    header h1 {
        font-size: 20px;
    }      
}

@media (min-width: 768px) {

    .grid_top {
        margin: auto;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 915px;
        grid-column-gap: 15px;
        padding-top: 10px;
        align-items: center;
        justify-items: center;
    }

    header img {
        padding-top: 0;
    }
}

@media (min-width: 992px) {

    .top {
        height: 80px;
    }

    .grid_top {
        width: 75vw;
        padding-top: 10px;
    }

    header img {
        margin-left: 2px;
    }

    nav {
        justify-self: end;
    }

    .top h1 {
        padding: 3px 0 10px;
    }

}

/* key frames */

@keyframes animation {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  
.animation {
    animation: animation 5s; /*oryginalnie 1.5s*/
    opacity: 0;
}
  
@keyframes animation2 {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
.animation2 {
    animation: animation2 5s;/*oryginalnie 2s*/
}