* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* TOP WITH NAVIGATION */

a.preload {
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

body {
  width: 100%;
}

.top {
  background-image: linear-gradient(lightgrey, transparent 100%);
  height: 120px;
  width: 100%;
}

header {
  width: 100%;
}

header h1 {
  padding: 10px 20px 10px 20px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  text-align: center;
}

nav li {
  display: inline;
  padding: 0 10px;
  }

nav:hover {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: grey;
}

nav a:hover {
  color: #3C3F66;
  border-bottom: 2px solid rgb(179, 175, 182);
  /*transition: border-bottom .5s ease;*/
  animation: nav_animation 0.5s ease;

}

a {
  animation: nav_animation_reverse 0.5s ease;
}

@keyframes nav_animation {
  from {border-bottom: solid 2px rgba(179, 175, 182, 0);
        padding-bottom: 5px;
  }
  to {border-bottom: solid 2px rgba(179, 175, 182, 1);
      padding-bottom: 0px;
  }
}

@keyframes nav_animation_reverse {
  from {border-bottom: solid 2px rgba(179, 175, 182, 1);
        padding-bottom: 0px;
  }
  to {border-bottom: solid 2px rgba(179, 175, 182, 0);
      padding-bottom: 5px;
  }
}

/* CONTENT */

/* OPISY */

.wrapper {
  width: 95vw;
  margin: auto;
}

section.about_us {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 0px;
}

section.about_us h2 {
  font-size: 20px;
  font-weight: 300;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top: 20px;
}

section.about_us p,
section.grid p {
  font-size: 13px;
  color: grey;
  text-align: center;
  padding: 0;
  margin: auto;
  width: 100%;
  letter-spacing: 0.7px;
  line-height: 1.8;
  vertical-align: middle;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 5px;
  margin: auto;
}

section.grid h3 {
  font-size: 20px;
  font-weight: 300;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
}



/* ZDJECIA */


section.grid img {
  max-width: 100%;
  display: block;
  margin: auto;
}


#gallery_wrap1,
#gallery_wrap2,
#gallery_wrap3 {
  position: relative;
}

/* #buttons1,
#buttons2,
#buttons3 {
  position: absolute;
  top: 0;
  left: 0;
} */

/* nie ma takiej klasy */
/* .buttons {
  position: absolute;
  height: 363.83px;
} */

/* .prev, .next {
  display: block;
  position: absolute;
  top:185px;
  cursor: pointer;
  width: 30px;
  height: 50px;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  transition: background-color 0.6s ease;
} */
.prev, .next {
  position: absolute;
  height: 100%;
  width: 10%;
  top: 0;
  cursor: pointer;
  border: none;
  background-color: rgba(225, 225, 208, 0.05);
  transition: 0.6s ease;
  
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(225, 225, 208, 0.5);
}

footer {
  height: 35px;
  margin-top:50px;
  text-align: center;
  background-color: lightgrey;
}

footer p {
  padding-top: 5px;
}



/* ---media queries--- */


@media (min-width: 540px) {
  .wrapper {
    width: 85vw;
  }
}

@media (min-width: 768px) {

 section.about_us h2 {
   margin-bottom: 10px;
 }

}


@media (min-width: 992px) {

  .top {
    height: 80px;
  }

  .grid_top {
    margin: auto;
    display: grid;
    grid-template-columns: 450px 450px;
    max-width: 915px;
    grid-column-gap: 15px;
    padding-top: 10px;
  }

  .top h1 {
    padding: 3px 0 10px;
    }

  .wrapper {
    width: 75vw;
  }

  section.about_us {
    margin-top: -20px;
  }

  section.about_us h2 {
    font-size: 30px;
    margin-top: 60px;
    letter-spacing: 2px;
  }

  section.about_us p,
  section.grid p {
    font-size: 15px;
    text-align: justify;
  }

  .item1 {grid-area: one; }
  .item2 {grid-area: two; }
  .item3 {grid-area: three; }
  .item4 {grid-area: four; }
  .item5 {grid-area: five; }
  .item6 {grid-area: six; }

  .grid {
    grid-template-areas: 
    'one two'
    'four three'
    'five six';
    max-width: 915px;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-gap: 5px 5px;
  }

  section.grid h3 {
    font-size: 25px;
  }

  div {
    width: 450px;
    margin: auto;
  }

  .item1, .item3, .item5 {
    padding: 30px;
  }
}

/* key frames */
@keyframes animation {
  from {opacity: 1;}
  to {opacity: 0;}
}

.animation {
  animation: animation 1.5s;
  opacity: 0;
}

@keyframes animation2 {
  from {opacity: 0;}
  to {opacity: 1;}
}

.animation2 {
  animation: animation2 2s;
}


