* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  /* background: yellow; */
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  text-align: center;
}

nav li {
  display: inline;
  padding: 0 10px;
  }

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: grey;
}

h1 {
  margin: 0;
  padding: 10px 10px 10px 30px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

section {
  width: 450px;
  margin: auto;
}

div {
  width: 450px;
  margin: auto;
  position: relative;
}

img {
  max-width: 450px;
  display: block;
  margin: auto;
}

footer {
  /* padding-top: 60px;
  padding-bottom: 60px; */
  /* border-bottom: 10px solid #ffa949; */
  height: 35px;
  margin-top:50px;
  background-color: lightgrey;
}

footer p {
  padding-top: 5px;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top: 20px;
}

h3 {
  font-weight: 300;
  font-size: 25px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
}

p {
  color: grey;
  text-align: center;
  padding: 0;
  margin: auto;
  /* width: 70%; */
  letter-spacing: 0.7px;
  line-height: 1.8;
}

div p {
  width: 100%;
  vertical-align: middle;
  padding: 0 ;
  box-sizing: border-box;
  text-align: center;
}

a:hover {
  text-decoration-line: underline;
  color: #3C3F66;
}

.about_us {
  padding-bottom: 40px;
  margin-top: -30px;
}

.grid {
  max-width: 450px;
  display: grid;
  grid-template-columns: 450px;
  /* grid-templates-rows: 100px 200px 200px; */
  grid-gap: 20px 15px;
}

.top {
  background-image: linear-gradient(lightgrey, transparent 100%);
  height: 120px;
  width: 100%;
}

.prev, .next {
  display: block;
  position: absolute;
  top: 144.5px;
  cursor: pointer;
  width: 30px;
  height: 50px;
  margin: auto;
  text-align: center;
  padding-top: 25px;
  transition: background-color 0.6s ease;
}

.next {
  right: 0;
}

.left {
  left: 0;
}

a.prev:hover, a.next:hover {
  background-color: rgba(225, 225, 208, 0.3);
  text-decoration: none;

}

/* media queries */
@media (min-width: 768px) {

  section {
    width: 700px;
    margin: auto;
  }

  div {
    width: 700px;
    margin: auto;
  }

  .grid {
    max-width: 700px;
    display: grid;
    grid-template-columns: 700px;
    /* grid-templates-rows: 100px 200px 200px; */
    grid-gap: 20px 15px;
  }
}

@media (min-width: 992px) {
  section {
    width: 915px;
    margin: auto;
  }

  div {
    width: 450px;
    margin: auto;
  }

  div p {
    text-align: justify;
  }

  img {
    max-width: 450px;
    display: block;
    margin: auto;
  }

  .grid {
    max-width: 915px;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-gap: 20px 15px;

  }
  .top {
    height: 80px;
  }

  .grid_top {
    display: grid;
    grid-template-columns: 450px 450px;
    max-width: 915px;
    grid-column-gap: 15px;
    padding-top: 10px;
  }

  h1 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    }
  h2 {
    margin-top: 60px;
    font-size: 35px;
    letter-spacing: 2px;
  }
}
