* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  text-align: center;
}

nav li {
  display: inline;
  padding: 0 10px;
  }

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: grey;
}

h1 {
  margin: 0;
  padding: 10px 20px 10px 20px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

section {
  width: 450px;
  margin: auto;
}

div {
  width: 450px;
  margin: auto;
  position: relative;
}

img {
  max-width: 450px;
  display: block;
  margin: auto;
}

footer {
	position: absolute;
	height: 35px;
	margin-top:50px;
	background-color: lightgrey;
}

footer p {
  padding-top: 5px;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top: 20px;
}

h3 {
  font-weight: 300;
  font-size: 25px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
}

p {
  color: grey;
  text-align: center;
  padding: 0;
  margin: auto;
  /* width: 70%; */
  letter-spacing: 0.7px;
  line-height: 1.8;
}

div p {
  width: 100%;
  vertical-align: middle;
  padding: 0 ;
  box-sizing: border-box;
  text-align: center;
}

a:hover {
  color: #3C3F66;
  border-bottom: 2px solid rgb(179, 175, 182);
  /*transition: border-bottom .5s ease;*/
  animation: nav_animation 0.5s ease;

}

a {
  animation: nav_animation_reverse 0.5s ease;
}

@keyframes nav_animation {
  from {border-bottom: solid 2px rgba(179, 175, 182, 0);
        padding-bottom: 5px;
  }
  to {border-bottom: solid 2px rgba(179, 175, 182, 1);
      padding-bottom: 0px;
  }
}

@keyframes nav_animation_reverse {
  from {border-bottom: solid 2px rgba(179, 175, 182, 1);
        padding-bottom: 0px;
  }
  to {border-bottom: solid 2px rgba(179, 175, 182, 0);
      padding-bottom: 5px;
  }
}

/*.grid {
  max-width: 450px;
  display: grid;
  grid-template-columns: 450px;
  grid-gap: 5px 5px;
}*/

.top {
  background-image: linear-gradient(lightgrey, transparent 100%);
  height: 120px;
  width: 100%;
}



/* ---media queries--- */


@media (min-width: 768px) {

  section {
    width: 700px;
    margin: auto;
  }

  div {
    width: 700px;
    margin: auto;
  }


  .grid {
    max-width: 700px;
    display: grid;
    grid-template-columns: 700px;
    /* grid-templates-rows: 100px 200px 200px; */
    grid-gap: 5px 5px;
  }
}



@media (min-width: 992px) {
  section {
    width: 915px;
    margin: auto;
  }

  div {
    width: 450px;
    margin: auto;
  }

  div p {
    text-align: justify;
  }

  img {
    max-width: 450px;
    display: block;
    margin: auto;
  }

  .item1, .item3, .item5 {
    box-sizing: border-box;
    padding: 30px;
  };


  .item1 {grid-area: one; }
  .item2 {grid-area: two; }
  .item3 {grid-area: three; }
  .item4 {grid-area: four; }
  .item5 {grid-area: five; }
  .item6 {grid-area: six; }

  .grid {
    grid-template-areas: 
    'one two'
    'four three'
    'five six';
    max-width: 915px;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-gap: 5px 5px;

  }
  .top {
    height: 80px;
  }

  .grid_top {
    display: grid;
    grid-template-columns: 450px 450px;
    max-width: 915px;
    grid-column-gap: 15px;
    padding-top: 10px;
  }

  h1 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
    }
  h2 {
    margin-top: 60px;
    font-size: 35px;
    letter-spacing: 2px;
  }
}

