* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
a.preload {
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

body {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  text-align: center;
}

nav li {
  display: inline;
  padding: 0 10px;
  }

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: grey;
}

h1 {
  margin: 0;
  padding: 10px 20px 10px 20px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}


section {
  margin: auto;
}

img {
  max-width: 450px;
  display: block;
  margin: auto;
}

footer {
  height: 35px;
  /* margin-top: 35px; */
  background-color: lightgrey;
  width: 100%;
}

footer p {
  padding-top: 5px;
  width: 100%;
  margin: auto;
  display: inline-block;
}

h2 {
  font-weight: 300;
  font-size: 25px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top: 20px;
}

h3 {
  font-weight: 300;
  font-size: 25px;
  color: #3C3F66;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
}

p {
  color: grey;
  text-align: center;
  padding: 0;
  margin: auto;
  /* width: 70%; */
  letter-spacing: 0.7px;
  line-height: 1.8;
}

div p {
  width: 100%;
  vertical-align: middle;
  padding: 0 ;
  box-sizing: border-box;
  text-align: center;
}

a:hover {
  color: #3C3F66;
  border-bottom: 2px solid rgb(179, 175, 182);
  animation: nav_animation 0.5s ease;
}

a {
  animation: nav_animation_reverse 0.5s ease;
}

@keyframes nav_animation {
  from {border-bottom: solid 2px rgba(179, 175, 182, 0);
        padding-bottom: 5px;
  }
  to {border-bottom: solid 2px rgba(179, 175, 182, 1);
      padding-bottom: 0px;
  }
}

@keyframes nav_animation_reverse {
  from {border-bottom: solid 2px rgba(179, 175, 182, 1);
        padding-bottom: 0px;
  }
  to {border-bottom: solid 2px rgba(179, 175, 182, 0);
      padding-bottom: 5px;
  }
}


.top {
  background-image: linear-gradient(lightgrey, transparent 100%);
  height: 120px;
  width: 100%;
}

.grid {
  display: grid;
  width: 300px;
  grid-template-columns: 50px auto;
  grid-template-areas: 
  'title title'
  'icon-1 address-1'
  'icon-2 address-2'
  'icon-3 telephone-number';
  grid-gap: 20px 0;
}

.title {grid-area: title; }
.icon-1 {grid-area: icon-1; }
.address-1 {grid-area: address-1; }
.icon-2 {grid-area: icon-2; }
.address-2 {grid-area: address-2; }
.icon-3 {grid-area: icon-3;}
.telephone-number {grid-area: telephone-number;}

.title h2 {
  padding: 80px 0 0px 0;
  margin: 0;
}

.icon-1, .icon-2, .icon-3 {
  margin: auto;

}

.address-1, .address-2, .telephone-number {
  margin: auto;
}

label {
  font-size: 12px;
}

input {
  display: block;
  width: 300px;
}

.form {
  width: 300px;
  margin-top: 40px;
}

textarea {
  height: 100px;
  width: 300px;
  resize: none;
}

input:focus, textarea:focus {
    outline-width: 0;
    outline-color: darkgrey;
}

input[type="button"] {
  width: 100px;
  height: 40px;
  margin: auto;
  border: none;
  background-color: lightgrey;
  transition: background-color 0.5s;
}

input[type="button"]:hover {
  background-color: darkgrey;
  transition: background-color 0.5s;
}

input:invalid,
input:invalid:required {
  border: 2px solid red;
}



/* ---media queries--- */


@media (min-width: 768px) {

  .wrapper {
    width: 700px;
    display: grid;
    grid-template-columns: 300px 400px;
  }

  .title h2 {
    padding: 0;
  }

  .form {
    padding-top: 15px;
    width: 350px;
    margin: 80px 20px 0 20px;
  }

  input, textarea {
    width: 350px;
  }


  .wrapper {
    min-height: calc(100vh - 70px - 120px);
  }

   
}

/*---------------------------*/

@media (min-width: 992px) {
 
 .wrapper {
    width: 900px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 5px;
  }

  .form {
    padding-top: 30px;
    width: 550px;
  }

  input, textarea {
    width: 550px;
  }

  input {
    height: 32px;
  }

  div p {
    text-align: justify;
  }

  img {
    max-width: 450px;
    display: block;
    margin: auto;
  }

  
  .top {
    height: 80px;
  }

  .grid_top {
    display: grid;
    grid-template-columns: 450px 450px;
    max-width: 915px;
    grid-column-gap: 15px;
    padding-top: 10px;
  }

  h1 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
  }

  h2 {
    margin-top: 60px;
    font-size: 35px;
    letter-spacing: 2px;
  }

  .wrapper {
    min-height: calc(100vh - 70px - 80px);
  }
}

