* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* BUTTONS */


div.wrapper {
  width: 95vw;
  padding-top: 120px;
  margin: 0 auto 0;
}

h2.title {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin: 20px auto;
  color: #1F3044;
}

section.selection_buttons {
  text-align: center;
}

section.selection_buttons button {
  /* background-color: rgb(94, 94, 94); */
  background-color: #1F3044;
  color: white;
  font-size: 12px;
  border: none;
  padding: 7px 10px;
  letter-spacing: .7px;
  margin-right: 2px;
  margin-bottom: 2px;
  transition: .4s;
}

section.selection_buttons button:hover {
  cursor: pointer;
  background-color: rgba(102, 102, 102, 0.7);
  
}

/* IMAGES */

div.images {
  margin-top: 10px;
}



div.img_container {
  color: transparent;
  position: relative;
  margin-bottom: 10px;
}

div.images img {
  width: 95vw;
  display: block;
}

a.img_background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  color: black;
  transition: 0.5s;
}

a.img_background p {
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  left:50%;
  top: 50%;
}

a.img_background:hover {
  cursor: pointer;
  opacity: 1;
}

/* MEDIA QUERIES */

@media (min-width: 540px) {
  

  h2.title {
    font-size: 30px;
    font-weight: 300;
  }

  section.selection_buttons button {
    font-size: 13px;
    margin-bottom: 15px;
  }

  div.wrapper {
    width: 90vw;
  }

  div.images {
    width: 90vw;
  }

  div.images img {
    width: 100%;
  }

  div.img_container {
    width: calc(50% - 10px);
    float: left;
    margin: 0 5px 10px 5px;
  }

  a.img_background {
    width: 100%;
  }

}

@media (min-width: 768px) {
  div.wrapper {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {

  div.wrapper {
    width: 85vw;
  }

  div.images {
    width: 85vw;
  }

  div.img_container {
    width: calc(33% - 12px); /* 33% - (3*12px/3) */
    margin-right: 6px;
    margin-left: 6px;
  }


}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

